
header {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
    border-radius: 10px;
    font-family: arial;

}


body { 
    padding: 0px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    justify-content: center;
    background-color: white;
    color: black;
    
}


img {
    width: 561,6px;
    height: 374,4px;
   border: 1px solid black;
    float: right;
}
